.dollars-block {
	position: absolute;
	height: 100%;
	@media (max-width:$mobile){
		position: relative;
		height: 100%;
	}
	&__gradient-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $darkRadialBGGradient;
		z-index: -5;
		@media (max-width:$mobile){
			display: none;
		}
	}
	&__mobile-gradient-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(circle, rgba(0,109,32,1) 0%, rgba(0,101,31,1) 10%, rgba(0,64,29,1) 60%, rgba(0,36,28,1) 80%, rgba(0,16,27,1) 95%, rgba(0,4,27,1) 100%);
		z-index: -5;
		@media (min-width:$mobile){
			display: none;
		}
	}
	&__bg-effects {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
		&>* {
			position: absolute;
			width: 100%;
			height: 100%;
			&>* {
				position: absolute;
			}
		}

	}

	// -------- Листки зліва зверху
	&__top-left-effects {
		@media (max-width:$mobile){
			display: none;
		}
	}
	&__top-left-leaf-one {
		top: toRem(-60);
		left: toRem(-50);
		z-index: -4;
		animation: leafsMovingAnimation 6s infinite 1s;
		@media (max-width: 1920px){
			height: 33.854vw;
			width: 18.229vw;
		}
		@media (max-width: 1800px){
			top: toRem(-180);
			left: toRem(-70);
		}
	}
	&__top-left-leaf-two {
		top: toRem(-300);
		left: toRem(-140);
		z-index: -3;
		animation: leafsMovingAnimation 8s infinite 0.5s;
		@media (max-width: 1920px){
			height: 28.5vw;
			width: 23.5vw;
			top: -15.6vw;
			left: -7.2vw;
		}
		@media (max-width: 1440px){
			top: -20vw;
			left: -10vw;
		}

	}
	&__top-left-leaf-three {
		top: toRem(-190);
		left: toRem(60);
		z-index: -4;
		animation: leafsMovingAnimation 10s infinite;
		@media (max-width: 1920px){
			width: 20vw;
			height: 16.6vw;
			top: -9.8vw;
			left: 3.1vw;
		}
	}
	&__top-left-dark-leaf {
		top: toRem(-40);
		left: toRem(-50);
		z-index: -5;
		filter: invert(34%) sepia(67%) saturate(685%) hue-rotate(54deg) brightness(10%) contrast(122%);
		@media (max-width: 1920px){
			width: 41.458vw;
			height: 26.7vw;
			top: -2vw;
			left: -2.6vw;
		}
		@media (max-width: 1200px){
			top: -7vw;
		}
		
	}

	// -------- Листки зліва знизу
	&__bottom-left-effects {
	}
	&__bottom-left-dark-leaf {
		bottom: toRem(-70);
		left: toRem(-120);
		z-index: -5;
		animation: leafsMovingAnimation 10s infinite;
		filter: invert(34%) sepia(67%) saturate(685%) hue-rotate(54deg) brightness(10%) contrast(122%);
		@media (max-width: 1920px){
			width: 27.083vw;
			height: 12vw;
			bottom: -3.6vw;
			left: -6.25vw;
		}
	}
	&__bottom-left-gold-egg {
		bottom: toRem(100);
		left: toRem(50);
		transform: rotate(30deg);
		animation: eggsMovingAnimation 2s infinite 0.5s;
		@media (max-width: 1440px){
			bottom: toRem(80);
			left: toRem(30);
			width: toRem(80);
			height: toRem(80);
		}
		@media (max-width: 1200px){
			bottom: toRem(70);
			left: toRem(20);
			width: toRem(50);
			height: toRem(50);
		}
		@media (max-width: 992px){
			bottom: toRem(60);
			left: toRem(10);
			width: toRem(40);
			height: toRem(40);
		}
		@media (max-width:$mobile){
			width: toRem(30);
			height: toRem(30);
		}
	}

	// -------- Листки справа зверху
	&__top-right-effects {

	}
	&__top-right-dark-leaf {
		top: toRem(-60);
		right: toRem(-120);
		z-index: -5;
		animation: leafsMovingAnimation 6s infinite;
		filter: invert(34%) sepia(67%) saturate(685%) hue-rotate(54deg) brightness(10%) contrast(122%);
		@media (max-width: 1920px){
			width: 27.083vw;
			height: 12vw;
			top: -3.125vw;
			right: -6.25vw;
		}
	}

	// -------- Листки справа знизу
	&__bottom-right-effects {

	}
	&__bottom-right-leaf-one {
		bottom: toRem(-40);
		right: toRem(160);
		z-index: -4;
		animation: leafsMovingAnimation 8s infinite;
		@media (max-width: 1920px){
			bottom: -2vw;
			right: 8.3vw;
			width: 20vw;
			height: 10.5vw;
		}
	}
	&__bottom-right-leaf-two {
		bottom: toRem(-60);
		right: toRem(50);
		z-index: -2;
		animation: leafsMovingAnimation 11s infinite;
		@media (max-width: 1920px){
			bottom: -3.1vw;
			right: 2.6vw;
			width: 13vw;
			height: 13vw;
		}
	}
	&__bottom-right-leaf-three {
		bottom: toRem(20);
		right: toRem(20);
		z-index: -4;
		animation: leafsMovingAnimation 13s infinite;
		@media (max-width: 1920px){
			bottom: 1vw;
			right: 1vw;
			width: 16.6vw;
			height: 20.8vw;
		}
	}
	&__bottom-right-leaf-four {
		bottom: toRem(-30);
		right: toRem(-60);
		z-index: -3;
		animation: leafsMovingAnimation 6s infinite;
		@media (max-width: 1920px){
			bottom: -1.5vw;
			right: -3vw;
			width: 13vw;
			height: 16.6vw;
		}
	}
	&__bottom-right-leaf-five {
		bottom: toRem(170);
		right: toRem(-30);
		z-index: -4;
		animation: leafsMovingAnimation 9s infinite;
		@media (max-width: 1920px){
			bottom: 8.9vw;
			right: -1.56vw;
			width: 11.5vw;
			height: 24vw;
		}
	}
	&__bottom-right-dark-leafs {
		bottom: toRem(-30);
		right: toRem(-30);
		opacity: 0.5;
		z-index: -5;
		filter: invert(34%) sepia(67%) saturate(685%) hue-rotate(54deg) brightness(10%) contrast(122%);
		@media (max-width: 1920px){
			bottom: -1.6vw;
			right: -1.6vw;
			width: 31.25vw;
			height: 30.7vw;
		}
	}
	&__bottom-right-gold-egg-one {
		bottom: toRem(450);
		right: toRem(230);
		animation: eggsMovingAnimation 2s infinite;
		z-index: 1;
		transform: rotate(-30deg);
		@media (max-width: 1440px){
			bottom: toRem(350);
			right: toRem(180);
			width: toRem(80);
			height: toRem(80);
		}
		@media (max-width: 1200px){
			bottom: toRem(300);
			right: toRem(140);
			width: toRem(50);
			height: toRem(50);
		}
		@media (max-width: 992px){
			bottom: toRem(270);
			right: toRem(110);
			width: toRem(40);
			height: toRem(40);
		}
		@media (max-width:$mobile){
			bottom: 25vw;
			right: 11vw;
			width: toRem(30);
			height: toRem(30);
		}
	}
	&__bottom-right-gold-egg-two {
		bottom: toRem(190);
		right: toRem(390);
		z-index: 1;
		animation: eggsMovingAnimation 2s infinite 1s;
		transform: rotate(-60deg);
		@media (max-width: 1700px){
			bottom: toRem(160);
			right: toRem(300);
		}
		@media (max-width: 1440px){
			bottom: toRem(110);
			right: toRem(290);
			width: toRem(80);
			height: toRem(80);
		}
		@media (max-width: 1200px){
			bottom: toRem(90);
			right: toRem(250);
			width: toRem(50);
			height: toRem(50);
		}
		@media (max-width: 992px){
			bottom: toRem(70);
			right: toRem(210);
			width: toRem(40);
			height: toRem(40);
		}
		@media (max-width:$mobile){
			bottom: 7vw;
			right: 30vw;
			width: toRem(30);
			height: toRem(30);
		}
	}



	&__dollars-wrapper {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
	}
	// Верхній шар купюр
	&__top-dollars-wrapper {
		& img {
			z-index: -1;
			position: absolute;
			left: 25%;
			top: -27%;
			@media (min-width: 1200px){
				display: none;
			}
			@media (max-width: 1100px){
				transform: scale(0.8);
				transform-origin: top left;
			}
			@media (max-width:$mobile){
				transform: scale(0.4);
				transform-origin: top left;
			}
		}
	}
	&__center-dollars-wrapper {
		
		& img {
			z-index: -2;
			position: absolute;
			@media (max-width: 1440px){
				transform: scale(0.9);
				transform-origin: top left;
			}
			@media (max-width: 1200px){
				transform: scale(0.8);
				transform-origin: top left;
			}
			@media (max-width: 1100px){
				transform: scale(0.7);
				transform-origin: top left;
			}
			@media (max-width: 992px){
				transform: scale(0.6);
				transform-origin: top left;
			}
			@media (max-width:$mobile){
				transform: scale(0.5);
				transform-origin: top left;
			}
		}
		&>* {
			&:nth-child(1) {
				left: 10%;
				top: -130%;
			}
			&:nth-child(2) {
				left: 57%;
				top: -170%
			}
			&:nth-child(3) {
				left: 17%;
				top: -100%;
			}
			&:nth-child(4) {
				left: 28%;
				top: -290%;
			}
			&:nth-child(5) {
				left: 37%;
				top: -130%;
			}
			&:nth-child(6) {
				left: 45%;
				top: -60%;
			}
			&:nth-child(7) {
				left: 54%;
				top: -150%;
			}
			&:nth-child(8) {
				left: 69%;
				top: -25%;
			}
			&:nth-child(9) {
				left: 77%;
				top: -290%;
			}
			&:nth-child(10) {
				left: 84%;
				top: -130%;
			}
			&:nth-child(11) {
				left: 96%;
				top: -50%;
			}
		}
	}

	&__bottom-dollars-wrapper {
		& img {
			z-index: -5;
			position: absolute;
			display: none;
			@media (max-width: 1200px){
				transform: scale(0.9);
				transform-origin: top left;
			}
			@media (max-width: 1100px){
				transform: scale(0.8);
				transform-origin: top left;
			}
			@media (max-width:$mobile){
				transform: scale(0.6);
				transform-origin: top left;
			}
		}
		&>* {
			&:nth-child(1) {
				left: 10%;
			}
			&:nth-child(2) {
				left: 17%;
			}
			&:nth-child(3) {
				left: 21%;
			}
			&:nth-child(4) {
				left: 24%;
			}
			&:nth-child(5) {
				left: 29%;
			}
			&:nth-child(6) {
				left: 32%;
			}
			&:nth-child(7) {
				left: 39%;
			}
			&:nth-child(8) {
				left: 45%;
			}
			&:nth-child(9) {
				left: 53%;
			}
			&:nth-child(10) {
				left: 57%;
			}
			&:nth-child(11) {
				left: 64%;
			}
			&:nth-child(12) {
				left: 69%;
			}
			&:nth-child(13) {
				left: 73%;
			}
			&:nth-child(14) {
				left: 78%;
			}
			&:nth-child(15) {
				left: 82%;
			}
			&:nth-child(16) {
				left: 88%;
			}
			&:nth-child(17) {
				left: 93%;
			}
			&:nth-child(18) {
				left: 98%;
			}
		}
	}

	&__bottom-slide-arrow {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: center;
	}
	&__container {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 100%;
		flex-direction: column;
		gap: toRem(10);
	}
	&__content {
		opacity: 0;
		max-width: 100%;
		width: 100%;
		height: 70%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: toRem(30);
		z-index: 10;
		transition: all 2s ease 0s;
		animation: showContentAnimation 2s ease;
		@media (max-width: 1440px){
			gap: toRem(10);
		}
		@media (max-width: 1200px){
			max-width: 90%;
			height: 90%;
			justify-content: space-around;
		}
		@media (max-width: 992px){
			max-width: 100%;
			height: 95%;
		}
		@media (max-width:$mobile){
			justify-content: center;
			gap: 1.25vh;
			padding-bottom: toRem(0);
			height: 100%;
			opacity: 1;
			padding-top: toRem(75);
			padding-bottom: toRem(75);
		}
	}
	&__top-title-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: toRem(15);
		@media (max-width: 1200px){
			gap: toRem(10);
		}
	}
	&__top-title-container-title {
		display: flex;
	}
	&__top-title {
		font-family: $secondFont;
		font-size: toRem(72);
		line-height: 130%;
		background: $goldTextGradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		color: transparent;
		text-align: center;
		@media (max-width: 1440px){
			font-size: 4.2vw;
			line-height: 100%;
		}
		@media (max-width: 992px){
			font-size: toRem(40);
		}
		@media (max-width:$mobile){
			font-size: toRem(44);
		}
		@media (max-width: 600px){
			font-size: toRem(38);
		}
		@media (max-width: 500px){
			font-size: toRem(34);
		}
	}
	&__top-title-image {
		@media (max-width: 1440px){
			width: 5.042vw;
			height: 5.042vw;
		}
	}
	&__top-title-container-subtitle {
		line-height: 130%;
		background: $goldTextGradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		color: transparent;
		text-align: center;
		font-size: toRem(32);
		@media (max-width: 1440px){
			font-size: toRem(30);
		}
		@media (max-width: 992px){
			font-size: toRem(24);
		}
		@media (max-width:$mobile){
			font-size: toRem(20);
		}
		@media (max-width: 600px){
			font-size: toRem(18);
		}
		@media (max-width: 500px){
			font-size: toRem(16);
		}
	}
	&__center-content-container {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		gap: toRem(40);
		@media (max-width: 992px){
			gap: toRem(15);
		}
		@media (max-width:$mobile){
			flex-direction: column-reverse;
		}
	}

	// --------------------------------------------------------------------------------> Правий контейнер
	&__center-content-container-right {
		max-width: toRem(566);
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: 1200px){
			max-width: toRem(400);
		}
		@media (max-width: 992px){
			max-width: toRem(350);
		}
		@media (max-width:$mobile){
			margin-top: toRem(10);
		}
	}
	&__center-content-title {
		text-align: center;
		line-height: 150%;
		font-size: toRem(44);
		font-weight: bold;
		font-family: $thirdFont;
		@media (max-width: 1600px){
			font-size: toRem(44);
		}
		@media (max-width: 1440px){
			font-size: 2.431vw;
		}
		@media (max-width:$mobile){
			font-size: toRem(18);
		}
	}
	&__center-content-subtitle {
		text-align: center;
		background: $goldTextGradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		color: transparent;
		line-height: 150%;
		font-size: toRem(44);
		font-weight: bold;
		font-family: $thirdFont;
		@media (max-width: 1600px){
			font-size: toRem(44);
		}
		@media (max-width: 1440px){
			font-size: 2.431vw;
		}
		@media (max-width:$mobile){
			font-size: toRem(20);
		}
	}
	&__button-container {
		width: 100%;
		display: flex;
		justify-content: center;
		padding-top: toRem(30);
		@media (max-width:$mobile){
			padding-top: toRem(10);
		}
	}

	// --------------------------------------------------------------------------------> Лівий контейнер
	&__center-content-container-left {
		max-width: toRem(636);
		width: 100%;
		@media (max-width: 1200px){
			max-width: 100%;
		}
		@media (max-width:$mobile){
			padding: toRem(0) toRem(15);
		}
	}

	&__bottom-text-container {
		text-align: center;	
		line-height: 150%;
		font-size: toRem(16);
		font-weight: bold;
		font-family: $thirdFont;
		max-width: toRem(533);
		@media (max-width: 1440px){
			font-size: toRem(22);
		}
		@media (max-width: 1200px){
			font-size: toRem(20);
		}
		@media (max-width: 1100px){
			font-size: toRem(18);
		}
		@media (max-width: 992px){
			font-size: toRem(17);
		}
		@media (max-width:$mobile){
			font-size: toRem(16);
			line-height: 130%;
		}
	}
}

.dollars-eggs-container {
	display: flex;
	flex-direction: column;
	gap: toRem(20);
	@media (max-width:$mobile){
		gap: toRem(10);
	}
	&__item {
		display: flex;
		gap: toRem(40);
		width: 100%;
		align-items: center;
		@media (max-width: 992px){
			gap: toRem(20);
		}
		@media (max-width:$mobile){
			gap: toRem(15);
		}
	}
	&__image {
		max-width: toRem(57);
		max-height: toRem(78);
		@media (max-width: 992px){
			max-width: toRem(37);
			max-height: toRem(55);
		}
		@media (max-width:$mobile){
			max-width: toRem(32);
			max-height: toRem(49);
		}
	}
	&__text {
		font-size: toRem(20);
		font-family: $thirdFont;
		font-weight: 500;
		line-height: 150%;
		width: 100%;
		@media (max-width: 992px){
			font-size: toRem(18);
			line-height: 130%;
		}
		@media (max-width:$mobile){
			font-size: toRem(16);
			line-height: 130%;
		}
		& span {
			background: $goldTextGradient;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			color: transparent;
			font-size: toRem(22);
			@media (max-width:$mobile){
				font-size: toRem(20);
			}
			@media (max-width:$mobile){
				font-size: toRem(18);
			}
		}
	}
}


