.jackpot-block {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	@media (max-height: 570px){
		min-height: 110svh;
	}
	@media (max-width:$mobile){
		position: relative;
	}
	&__gradient-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $darkRadialBGGradient;
		z-index: -10;
		@media (max-width:$mobile){
			background: $mobileGreenRadialBGGradient;
		}
	}

	// ------------------------------- Листки
	&__bg-leafs {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: -8;
	}
	&__top-left-dark-leaf {
		opacity: 0.5;
		position: absolute;
		top: toRem(-130);
		left: toRem(-70);
		animation: leafsJackpotMovingAnimation 7s infinite;
		filter: invert(34%) sepia(67%) saturate(685%) hue-rotate(54deg) brightness(10%) contrast(122%);
		@media (max-width: 1920px){
			width: 19.271vw;
			height: 21.875vw;
			top: -6.771vw;
			left: -3.646vw;
		}
	}
	&__top-right-dark-leaf {
		opacity: 0.5;
		position: absolute;
		top: toRem(-50);
		right: toRem(-180);
		animation: leafsJackpotMovingAnimation 8.5s infinite;
		filter: invert(34%) sepia(67%) saturate(685%) hue-rotate(54deg) brightness(10%) contrast(122%);
		@media (max-width: 1920px){
			width: 27.083vw;
			height: 13.542vw;
			top: -2.604vw;
			right: -9.375vw;
		}
	}
	&__bottom-left-dark-leaf {
		opacity: 0.5;
		position: absolute;
		bottom: toRem(100);
		left: toRem(-30);
		animation: leafsJackpotMovingAnimation 6.6s infinite;
		filter: invert(34%) sepia(67%) saturate(685%) hue-rotate(54deg) brightness(10%) contrast(122%);
		@media (max-width: 1920px){
			width: 27.604vw;
			height: 13.021vw;
			bottom: 5.208vw;
			left: -1.563vw;
		}
	}
	&__bottom-left-leaf {
		position: absolute;
		bottom: toRem(30);
		left: toRem(-150);
		animation: leafsJackpotMovingAnimation 7.5s infinite;
		@media (max-width: 1920px){
			width: 30.729vw;
			height: 14.063vw;
			bottom: 1.563vw;
			left: -7.813vw;
		}
	}

	&__sparks {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100%;
		overflow: hidden;
		z-index: -7;
		opacity: 0;
		transition: all 0.3s ease 2s;
		&>* {
			position: absolute;
			&:nth-child(1) {
				position: absolute;
				top: 50%;
				left: 50%;
			}
			&:nth-child(2) {
				position: absolute;
				top: 50%;
				left: 50%;
			}
			&:nth-child(3) {
				position: absolute;
				top: 50%;
				left: 50%;
			}
			&:nth-child(4) {
				position: absolute;
				top: 50%;
				left: 50%;
			}
			&:nth-child(5) {
				position: absolute;
				top: 50%;
				left: 50%;
			}
			&:nth-child(6) {
				position: absolute;
				top: 50%;
				left: 50%;
			}
			&:nth-child(7) {
				position: absolute;
				top: 50%;
				left: 50%;
			}
			&:nth-child(8) {
				position: absolute;
				top: 50%;
				left: 50%;
			}
			&:nth-child(9) {
				position: absolute;
				top: 50%;
				left: 50%;
			}
			&:nth-child(10) {
				position: absolute;
				top: 50%;
				left: 50%;
			}
		}
	}
	&__shadow-sparks {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		overflow: hidden;
		z-index: -6;
		opacity: 0;
		transition: all 0.3s ease 2s;
		&>* {
			position: absolute;
			&:nth-child(1) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(2) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(3) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(4) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(5) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(6) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(7) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(8) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(9) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(10) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(11) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(12) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(13) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(14) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(15) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(16) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(17) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(18) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(19) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(20) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(21) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(22) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(23) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(24) {
				top: 50%;
				left: 50%;
			}
			&:nth-child(25) {
				top: 50%;
				left: 50%;
			}
		}
	}
	&__lights {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// opacity: 0;
		z-index: -10;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		transition: opacity 3s linear;
		& img {
			position: absolute;
			top: toRem(0);
			left: center;
			width: 100%;
			height: 100%;
			@media (max-width: 992px){
				width: 160%;
				position: absolute;
				opacity: 0.4;
			}
			@media (max-width: 600px){
				width: 270%;
			}
		}
	}
	&__wheel-eggs-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		padding: toRem(90) 0 toRem(130) 0;
		@media (max-width: 1800px){
			padding: 5vw 0 7.222vw 0;
		}
		@media (max-width: 1440px){
			padding: 2.5vw 0 4vw 0;
		}
		@media (max-width: 1250px){
			padding: 2.5vw 0 3vw 0;
		}
		@media (max-width:$mobile){
			padding: toRem(60) toRem(10) toRem(60) toRem(10);
			gap: toRem(40);
		}
		@media (max-height: 560px){
			padding: toRem(60) toRem(10) toRem(60) toRem(10);
		}
	}
	&__wheel-eggs-inner-container {
		max-width: toRem(480.33);
		max-height: toRem(480.33);
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		// opacity: 0;
		transition: all 0.5s ease 0s;
		@media (max-width: 1920px){
			max-width: 25.017vw;
			max-height: 25.017vw;
		}
		@media (max-width: 992px){
			max-width: 248.16px;
			max-height: 248.16px;
		}
		@media (max-width:$mobile){
			opacity: 1;
		}
	}

	// --------------------------------------------- Блок з текстом зверху
	&__top-text-block {
		padding: toRem(25) toRem(45);
		position: relative;
		max-width: toRem(1000);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		border: 2px solid #FFFFFF;
		border-image: linear-gradient(90deg, rgba(165,108,11,1) 0%, rgba(173,120,22,1) 1%, rgba(199,159,58,1) 6%, rgba(220,190,87,1) 10%, rgba(235,212,108,1) 14%, rgba(244,225,120,1) 19%, rgba(248,230,125,1) 22%, rgba(244,224,119,1) 27%, rgba(232,208,104,1) 34%, rgba(214,182,79,1) 41%, rgba(201,163,61,1) 45%, rgba(195,143,27,1) 57%, rgba(230,201,92,1) 75%, rgba(248,230,125,1) 84%, rgba(244,224,119,1) 86%, rgba(233,209,103,1) 90%, rgba(216,185,76,1) 94%) 1;
		@media (max-width: 1800px){
			padding: 1.389vw 10px;
		}
		@media (max-width: 1440px){
			padding: 5px 35px;
		}
		@media (max-width: 1000px){
			max-width: 90%;
		}
		@media (max-width:$mobile){
			padding: 5px 25px;
		}
		@media (max-width: 500px){
			padding: 5px 5px;
		}
		& img {
			width: toRem(24);
			height: toRem(30);
			z-index: 2;
			@media (max-width:$mobile){
				width: toRem(18);
				height: toRem(26);
			}
			@media (max-width: 500px){
				display: none;
			}
		}
	}
	&__top-text-block-bg {
		border-radius: toRem(15);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #011227;
		opacity: 0.5;
		z-index: 1;
	}
	&__top-text-block-egg-one {
		position: absolute;
		top: 10px;
		left: 10px;
		@media (max-width:$mobile){
			top: toRem(3);
			left: toRem(5);
		}
	}
	&__top-text-block-egg-two {
		position: absolute;
		bottom: 10px;
		right: 10px;
		@media (max-width:$mobile){
			bottom: toRem(3);
			right: toRem(5);
		}
	}
	&__top-text-content {
		font-size: toRem(22);
		line-height: 140%;
		font-family: $thirdFont;
		font-weight: 700;
		text-align: center;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: 1920px){
			font-size: toRem(20);
		}
		@media (max-width: 1440px){
			font-size: toRem(18);
			line-height: 130%;
		}
		@media (max-width: 1200px){
			font-size: toRem(17);
		}
		@media (max-width: 992px){
			font-size: toRem(16);
			line-height: 120%;
		}
		@media (max-width:$mobile){
			font-size: toRem(14);
			line-height: 110%;
		}
	}
	&__before-top-text {
		opacity: 1;
		text-align: center;
		height: auto;
		overflow: hidden;
		position: absolute;
		padding: toRem(35);
	}
	&__after-top-text {
		opacity: 0;
		transition: all 2.3s ease 0s;
		text-align: center;
		height: auto;
		overflow: hidden;
		& span {
			background: $goldTextGradient;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			color: transparent;
		}
	}
	&__jackpot-container {

	}
	&__wheel {
	}
	&__eggs {
	}




	// --------------------------------------------- Блок з текстом знизу
	&__bottom-text-block {
		max-width: toRem(1000);
		width: 100%;
		position: relative;
		padding: toRem(25);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 0;
		@media (max-width: 1800px){
			padding: 1.389vw;
		}
		@media (max-width: 1000px){
			max-width: 90%;
		}
		@media (max-width:$mobile){
			padding: toRem(10) toRem(15);
		}
		@media (max-width: 550px){
			padding: toRem(5) toRem(5);
		}
	}	
	&__bottom-text-block-bg-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	&__bottom-text-block-content {
		font-size: toRem(20);
		line-height: 140%;
		font-family: $thirdFont;
		font-weight: 700;
		text-align: center;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: 1440px){
			font-size: toRem(18);
		}
		@media (max-width:	992px){
			font-size: toRem(16);
			line-height: 120%;
		}
		@media (max-width:$mobile){
			font-size: toRem(14);
			line-height: 110%;
		}
	}
	&__before-bottom-text {
		text-align: center;
		opacity: 1;
		height: auto;
		overflow: hidden;
		position: absolute;
		padding: toRem(15);
	}
	&__after-bottom-text {
		opacity: 0;
		transition: all 2.3s ease 0s;
		text-align: center;
		height: auto;
		overflow: hidden;
		@media (max-width:$mobile){
			padding-bottom: toRem(5);
		}
	}


	&__bottom-arrow-block {
		position: absolute;
		width: 100%;
		bottom: toRem(20);
		left: 0;
		display: flex;
		justify-content: center;
		@media (max-width: 1440px){
			bottom: toRem(10);
		}
		@media (max-width: 1200px){
			bottom: toRem(5);
		}
	}
}

.spark {
	width: toRem(73);
	height: toRem(73);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	&>* {
		position: absolute;
		&:nth-child(1) {
			transform: rotate(75deg);
			width: 80%;
			animation: rotateSparkLine1 1s infinite;
		}
		&:nth-child(2) {
			transform: rotate(0deg);
			width: 90%;
			animation: rotateSparkLine2 1s infinite;
		}
		&:nth-child(3) {
			transform: rotate(120deg);
			width: 100%;
			animation: rotateSparkLine3 1s infinite;
		}
		&:nth-child(4) {
			transform: rotate(150deg);
			width: 70%;
		}
		&:nth-child(5) {
			transform: rotate(45deg);
			width: 100%;
		}
	}
	&__line {
	}
	&__shadow {
		position: absolute;
		margin-left: -3px;
		width: toRem(20);
		height: toRem(20);
		border-radius: 50%;
		background: radial-gradient(circle, rgba(246, 255, 0, 0.923) 0%, rgba(0,5,18,0) 49%);
		animation: blinkSparkMove 2s infinite;
	}
}

.shadow-spark {
	border-radius: 30%;
	background: radial-gradient(ellipse at center, rgba(1,255,97,1) 0%, rgba(0,5,18,0) 53%);
	display: flex;
	justify-content: center;
	align-items: center;
	& div {
		width: toRem(15);
		height: toRem(15);
		background: radial-gradient(circle, rgba(255, 255, 255, 0.619) 0%, rgba(0,5,18,0) 53%);
	}
}

.light-element {

}

.jackpot-text {
	position: absolute;
	z-index: 50;
	opacity: 0;
	display: flex;
	align-items: center;
	max-width: toRem(725);
	max-height: toRem(725);
	height: 100%;
	width: 100%;
	transition: opacity 2s linear;
	@media (max-width: 1920px){
		max-width: 37.76vw;
		max-height: 37.76vw;
	}
	@media (max-width: 992px){
		max-width: 374.58px;
		max-height: 92.44px;
	}
	&__image {
		width: 100%;
		z-index: 11;
	}
	&__shadow-image {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 10;
		@media (max-width: 992px){
			width: toRem(374.58);
			height: toRem(374.58);
		}
	}
}


.wheel {
	max-width: toRem(480.34);
	max-height: toRem(480.34);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: 1920px){
		max-width: 25.017vw;
		max-height: 25.017vw;
	}
	@media (max-width: 992px){
		max-width: 248.16px;
		max-height: 248.16px;
	}
	&__rotate-container {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		& img {
			position: absolute;
		}
	}
	&__wheel-image {
		max-width: toRem(480.34);
		max-height: toRem(480.34);
		width: 100%;
		height: 100%;
		margin-right: toRem(-1);
		@media (max-width: 1920px){
			max-width: 25.017vw;
			max-height: 25.017vw;
		}
		@media (max-width: 992px){
			max-width: 248.16px;
			max-height: 248.16px;
		}
	}
	&__wheel-pointer-image {
		@media (max-width: 1920px){
			max-width: 22.865vw;
			max-height: 22.865vw;
		}
		@media (max-width: 992px){
			max-width: 226.81px;
			max-height: 226.81px;
		}
	}
}

.eggs-rotate {
	height: 100%;
	width: 100%;
	position: absolute;
	max-width: toRem(480.34);
	max-height: toRem(480.34);
	perspective: 1000px;
	z-index: 1;
	@media (max-width: 1920px){
		max-width: 25.017vw;
		max-height: 25.017vw;
	}
	@media (max-width: 992px){
		width: 248.17px;
		height: 248.17px;
		max-width: 248.17px;
		max-height: 248.17px;
	}
	&__egg-container {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform 1s cubic-bezier(0,1.03,.17,1);
		@media (max-width: 1200px){
			transition: transform 2s cubic-bezier(0,1.03,.17,1);
		}
		& img {
			width: 100%;
			height: 100%;
		}
		& div {
			position: absolute;
			z-index: 100;
			height: 9px;
			width: 9px;
			box-shadow: 0px 5px 63px 10px rgb(0, 255, 34);
			-webkit-box-shadow: 0px 5px 63px 10px rgb(0, 255, 34);
			-moz-box-shadow: 0px 5px 63px 10px rgb(0, 255, 0);
		}
		&:nth-child(1) {
			top: 13%;
			left: 51.5%;
			@media (max-width: 1920px){
				width: 3.542vw;
				height: 3.021vw;
			}
			@media (max-width: 992px){
				width: 35.13px;
				height: 29.95px;
			}
			@media (max-width:$mobile){
				width: 38px;
				height: 32px;
			}
		}
		&:nth-child(2) {
			top: 20%;
			left: 63.5%;
			@media (max-width: 1920px){
				width: 4.5vw;
				height: 4vw;
			}
			@media (max-width: 992px){
				width: 45px;
				height: 42px;
			}
			@media (max-width:$mobile){
				width: 41px;
				height: 39px;
			}
		}
		&:nth-child(3) {
			top: 35%;
			left: 72%;
			@media (max-width: 1920px){
				width: 3.542vw;
				height: 3.021vw;
			}
			@media (max-width: 992px){
				width: 35.13px;
				height: 29.95px;
			}
			@media (max-width:$mobile){
				margin-top: toRem(2);
				width: 35.13px;
				height: 29.95px;
			}
		}
		&:nth-child(4) {
			top: 51.5%;
			left: 72.5%;
			@media (max-width: 1920px){
				width: 3.542vw;
				height: 3.021vw;
			}
			@media (max-width: 992px){
				width: 41.57px;
				height: 35.45px;
			}
			@media (max-width:$mobile){
				width: 39px;
				height: 33px;
			}
		}
		&:nth-child(5) {
			top: 63%;
			left: 64%;
			@media (max-width: 1920px){
				width: 4.01vw;
				height: 4.01vw;
			}
			@media (max-width: 992px){
				width: 39.77px;
				height: 39.77px;
			}
			@media (max-width:$mobile){
				width: 39.77px;
				height: 39.77px;
			}
		}
		&:nth-child(6) {
			top: 72.5%;
			left: 52%;
			@media (max-width: 1920px){
				width: 3.125vw;
				height: 3.594vw;
			}
			@media (max-width: 992px){
				width: 36.69px;
				height: 42.18px;
			}
			@media (max-width:$mobile){
				width: 32px;
				height: 36.6px;
			}
		}
		&:nth-child(7) {
			top: 72.5%;
			left: 36%;
			@media (max-width: 1920px){
				width: 3.073vw;
				height: 3.594vw;
			}
			@media (max-width: 992px){
				width: 30.47px;
				height: 35.64px;
			}
			@media (max-width:$mobile){
				width: 30.47px;
				height: 35.64px;
			}
		}
		&:nth-child(8) {
			top: 64%;
			left: 21%;
			@media (max-width: 1920px){
				width: 3.802vw;
				height: 3.802vw;
			}
			@media (max-width: 992px){
				width: 44.62px;
				height: 44.62px;
			}
			@media (max-width:$mobile){
				width: 39px;
				height: 39px;
			}
		}
		&:nth-child(9) {
			top: 52%;
			left: 13%;
			@media (max-width: 1920px){
				width: 3.438vw;
				height: 2.917vw;
			}
			@media (max-width: 992px){
				width: 34.09px;
				height: 28.92px;
			}
		}
		&:nth-child(10) {
			top: 35.5%;
			left: 13%;
			@media (max-width: 1920px){
				width: 3.542vw;
				height: 3.021vw;
			}
			@media (max-width: 992px){
				width: 35.13px;
				height: 29.95px;
			}
		}
		&:nth-child(11) {
			top: 22.5%;
			left: 22.5%;
			@media (max-width: 1920px){
				width: 2.813vw;
				height: 2.813vw;
			}
			@media (max-width: 992px){
				width: 33.01px;
				height: 33.01px;
			}
			@media (max-width:$mobile){
				width: 30px;
				height: 30px;
			}
		}
		&:nth-child(12) {
			top: 13%;
			left: 36%;
			@media (max-width: 1920px){
				width: 3.125vw;
				height: 3.906vw;
			}
			@media (max-width: 992px){
				width: 31px;
				height: 38.73px;
			}
		}
	}
	&__egg-shadow {

	}
}

.egg-shadow {
	box-shadow: 0px 10px 63px 10px rgb(0, 255, 34);
	-webkit-box-shadow: 0px 10px 63px 10px rgb(0, 255, 34);
	-moz-box-shadow: 0px 10px 63px 10px rgb(0, 255, 0);
}



