.loading-timer {
	position: absolute;
	@media (max-width:$mobile){
		position: relative;
	}
	// Фонові зображення та підкладки для сторінки завантаження
	&__black-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000000;
		opacity: 1;
		z-index: -4;
		transition: all 0.7s ease 0s;
	}
	&__blur-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		
	}
	&__bg-elements-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	&__left-top-ellipse {
		position: absolute;
		top: 0;
		left: 0;
		animation: firstEllipseAnimation 7s infinite;
	}
	&__left-bottom-ellipse {
		position: absolute;
		left: 0;
		bottom: 0;
		transform: rotate(180deg);
		animation: secondEllipseAnimation 7s infinite;
	}
	&__right-top-ellipse {
		position: absolute;
		top: 0;
		right: 0;
		animation: thirdEllipseAnimation 9s infinite;
	}
	&__right-bottom-ellipse {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: rotate(180deg);
		animation: fourEllipseAnimation 12s infinite;
	}
	// Фонові зображення та підкладки для сторінки з таймером
	&__mountains-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -5;
	}
	&__bg-effects {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	&__goblin {
		position: absolute;
		bottom: toRem(-200);
		left: toRem(-1500);
		z-index: -3;
		transform: rotate(-40deg);
		width: toRem(1070);
		height: toRem(1070);
		transition: all 1.2s ease 0s;
		@media (max-width: 1920px){
			width: 55.729vw;
			height: 55.729vw;
		}
		@media (max-width:1500px){
			width: 55vw;
			height: 55vw;
		}
		@media (max-width: 1200px){
			width: 64vw;
			height: 64vw;
		}
		@media (max-width: 992px){
			width: 60vw;
			height: 60vw;
			left: toRem(-700);
		}
		@media (max-width:$mobile){
			width: 100%;
			height: auto;
			left: toRem(-1000);
		}
		@media (max-width: 700px){
			width: 110%;
		}
		@media (max-width: 500px){
			width: 130%;
		}
		@media (max-height: 560px){
			width: 100vh;
			height: 100vh;
			left: toRem(-700);
		}
		// @media (max-width: 350px){
		// 	width: 140vw;
		// 	height: 140vw;
		// 	left: toRem(-1000);
		// }
	}
	&__first-leaf {
		position: absolute;
		bottom: toRem(-110);
		left: toRem(-50);
		z-index: -2;
		@media (max-width: 1920px){
			left: -2vw;
			bottom: -10vh;
			width: 18vw;
			height: 26vw;
		}
		@media (max-width: em(1440)){
			left: -3vw;
			bottom: -12vh;
		}
		@media (max-width:$mobile){
			bottom: toRem(-50);
			left: toRem(-10);
		}
		@media (max-width: 500px){
			width: 28vw;
			height: 40vw;
		}
		@media (max-height: 560px){
			width: 30vh;
			height: 40vh;
		}
	}
	&__second-leaf {
		position: absolute;
		bottom: toRem(-335);
		left: toRem(-290);
		z-index: -3;
		@media (max-width: 1920px){
			left: -15vw;
			bottom: -25vh;
			width: 47vw;
			height: 30vw;
		}
		@media (max-width: em(1440)){
			left: -19vw;
			bottom: -27vh;
		}
		@media (max-width:$mobile){
			bottom: toRem(-70);
			left: toRem(-10);
		}
		@media (max-width: 500px){
			width: 57vw;
			height: 37vw;
		}
		@media (max-height: 560px){
			width: 100vh;
			height: 45vh;
		}
	}
	&__third-leaf {
		position: absolute;
		bottom: toRem(-50);
		right: toRem(-150);
		z-index: -3;
		@media (max-width: 1920px){
			bottom: -2.6vh;
			right: -7.8vh;
			width: 26vw;
			height: 11vw;
		}
		@media (max-width: em(1600)){
			bottom: -4vh;
			right: -11vw;
		}
		@media (max-width: em(1440)){
			bottom: -5vh;
			right: -12vw;
		}
		@media (max-width:$mobile){
			bottom: toRem(0);
			right: toRem(-10);
		}
		@media (max-width: 500px){
			width: 40vw;
			height: 20vw;
		}
		@media (max-height: 560px){
			width: 65vh;
			height: 20vh;
		}
	}

	// Контейнер для всього контенту
	&__wrapper {
		height: 100%;
		width: 100%;
	}
	// Контейнер з контентом (за виключенням шапки)
	&__loading-timer-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		align-items: center;
		perspective: 1000px;
	}
	&__loading {
	}
	&__timer {
	}
}

// -------------------------------------------------------------- Стилі екрану завантаження
.loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 12vh;
	max-width: toRem(687);
	max-height: toRem(687);
	transition: transform 2s; /* Плавный переход */
	transform: translateZ(0); /* Начальная позиция по оси Z */
	//display: none; // Убираем содержимое блока с логотипом и загрузкой
	@media (max-width: 1600px){
		max-width: toRem(550);
	}
	@media (max-width: 1440px){
		max-width: toRem(500);
	}
	@media (max-width:$mobile){
		max-width: 90%;
		max-height: 70%;
		justify-content: space-around;
	}
	&__big-logo {
		width: 100%;
		@media (max-height: 560px){
			width: 80vh;
			height: 60vh;
		}
	}
	&__load-button-container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: toRem(80);
	}
	&__loading-container {
		display: flex;
		flex-direction: column;
		gap: toRem(25);
		align-items: center;
		@media (max-width:$pc){
			gap: 2vw;
		}
	}
	&__loading-text {
		font-family: Play, sans-serif;
		font-weight: 700;
		font-size: toRem(45);
		color: #FFFFFF;
		@media (max-width:$pc){
			font-size: 4vw;
		}
		@media (max-width:$mobile){
			font-size: toRem(30);
		}
		@media (max-width: 600px){
			font-size: toRem(26);
		}
		@media (max-width: 500px){
			font-size: toRem(22);
		}
		@media (max-width: 400px){
			font-size: toRem(20);
		}
	}
	&__loading-line {
	}
	&__start-button {
    box-shadow: none;
		width: 100%;
		max-width: toRem(227);
		height: toRem(80);
		position: relative;
		display: none;

		-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none; /* Убирает выделение текста на iOS */
    -moz-user-select: none; /* Убирает выделение текста на Firefox */
    -ms-user-select: none; /* Убирает выделение текста на Internet Explorer */
    user-select: none; /* Убирает выделение текста на современных браузерах */
    outline: none;
		@media (max-width:$pc){
			max-width: 19.402vw;
		}
		@media (max-width: 1200px){
			max-width: toRem(200);
		}
		&>* {
			cursor: pointer;
		}
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: fill;
			max-width: toRem(227);
			@media (max-width:$pc){
				max-width: 19.402vw;
			}
			@media (max-width: 1200px){
				max-width: toRem(200);
			}
	
		}
	}
	&__button-text-container {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		& div {
			font-family: Play, sans-serif;
			font-size: toRem(34);
			color: #FFFFFF;
			@media (max-width: 900px){
				font-size: 3.5vw;
			}
			@media (max-width: 800px){
				font-size: toRem(28);
			}
		}
	}
}
.loading-line {
	position: relative;
	max-width: 50vw;
	width: 100%;
	height: auto;
	@media (max-width:$mobile){
		max-width: 90vw;
	}
	&__border {
		width: 100%;
		z-index: 10;
	}
	&__inner-line-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		animation: loadingLineAnimation 1.5s ease;
	}
	&__inner-line {
		position: absolute;
		top: toRem(1);
		left: toRem(3);
		z-index: -1;
		object-fit: cover;
		width: 100%;
		height: 4.7vw;
		border-radius: toRem(22);
		max-height: toRem(45);
		@media (max-width:$mobile){
			height: 8vw;
			max-width: 98%;
			top: toRem(3);
		}
	}
	&__line-circle {
		top: 0;
		right: toRem(-8);
		position: absolute;
		z-index: 11;
		max-width: toRem(60);
		width: 6vw;
		@media (max-width:$mobile){
			width: 12vw;
			right: toRem(-3);
		}
		@media (max-width: em(550)){
			width: 11.2vw;
		}
		@media (max-width: em(450)){
			width: 11vw;
		}
	}
}

// ------------------------------------------------------------ Стилі екрану таймера
.timer {
	opacity: 0;
	height: 100%;
	width: 100%;
	transition: all 0.9s ease 0s;
	&__container {
	height: 100%;
	width: 100%;
	max-width: toRem(1440);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: end;
	}
	&__header {
		position: relative;
		display: flex;
		align-items: start;
		justify-content: center;
		width: 100%;
		@media (max-width:$mobile){
			justify-content: space-between;
			align-items: center;
			display: none;
		}
		@media (max-width: 600px){
			padding: toRem(5) toRem(0);
		}

	}
	&__logo {
		@media (max-width: 1440px){
			max-width: 15.5vw;
		}
		@media (max-width: 1100px){
			max-width: toRem(170);
		}
		@media (max-width: 992px){
			max-width: toRem(140);
		}
		@media (max-width:$mobile){
			max-width: toRem(110);
		}
		@media (max-width: 600px){
			max-width: toRem(90);
		}
		@media (max-width: 500px){
			max-width: toRem(75);
		}
		@media (max-height: 560px){
			max-width: toRem(80);
		}
	}
	&__buttons-block {
		position: absolute;
		top: 0;
		right: 0;
		padding: toRem(25) 0 0 0;
		display: flex;
		gap: toRem(10);
		border-radius: 50%;
		@media (max-width:$mobile){
			position: relative;
			align-items: center;
			padding: toRem(0);
		}
		@media (max-height: 560px){
			padding: toRem(5) 0 0 0;
		}
		&>* {
			transition: all 0.3s ease 0s;
			border-radius: 50%;
			&:hover {
				transition: all 0.3s ease 0s;
				cursor: pointer;
				box-shadow: 0px 0px 15px 0px rgba(214,230,0,0.75);
				-webkit-box-shadow: 0px 0px 15px 0px rgba(214,230,0,0.75);
				-moz-box-shadow: 0px 0px 15px 0px rgba(214,230,0,0.75);
			}
		}
	}
	&__button {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none; /* Убирает выделение текста на iOS */
    -moz-user-select: none; /* Убирает выделение текста на Firefox */
    -ms-user-select: none; /* Убирает выделение текста на Internet Explorer */
    user-select: none; /* Убирает выделение текста на современных браузерах */
    outline: none;
    box-shadow: none;

		position: relative;
		width: toRem(72);
		height: toRem(72);
		@media (max-width: 1440px){
			width: 4.2vw;
			height: 4.2vw;
		}
		@media (max-width: 992px){
			width: toRem(40);
			height: toRem(40);
		}
		@media (max-width:$mobile){
			width: toRem(35);
			height: toRem(35);
		}

		& img {
			width: toRem(72);
			height: toRem(72);
			@media (max-width: 1440px){
				width: 4.2vw;
				height: 4.2vw;
			}
			@media (max-width: 992px){
				width: toRem(40);
				height: toRem(40);
			}
			@media (max-width:$mobile){
				width: toRem(35);
				height: toRem(35);
			}
		}

	}
	&__content {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: toRem(740);
		margin-top: toRem(-50);
		@media (max-width: 1440px){
			max-width: 60vw;
			margin-top: toRem(-30);
		}
		@media (max-width: 1200px){
			margin-top: toRem(-20);
		}
		@media (max-width: 1100px){
			margin-top: toRem(-10);
		}
		@media (max-width: 992px){
			margin-top: toRem(0);
		}
		@media (max-width:$mobile){
			max-width: 100%;
			margin-top: -15vw;
			padding-top: toRem(75);
		}
	}
}

.lang-button {
	&__image {
	}
}
.menu-button {
	&__image {
	}
}
.volume-button {
	&__image {
	}
}


// ---------------------------------- Середній блок з контентом
.timer {
	&__content {
	}
	&__bottom {
	}
}
.timer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: toRem(30);
	@media (max-width: 1800px){
		gap: toRem(23);
	}
	@media (max-width: 1440px){
		gap: toRem(15);
	}
	@media (max-width: 992px){
		gap: toRem(10);
	}
	@media (max-width:$mobile){
		gap: 1.25vh;
	}
	@media (max-height: 560){
		gap: toRem(5);
	}
	&__title {
		font-family: $secondFont;
		font-size: toRem(64);
		text-align: center;
		background: $goldTextGradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		color: transparent;
		line-height: 130%;
		@media (max-width: 1440px){
			font-size: 4.2vw;
			line-height: 100%;
		}
		@media (max-width: 992px){
			font-size: toRem(40);
		}
		@media (max-width:$mobile){
			font-size: toRem(44);
		}
		@media (max-width: 600px){
			font-size: toRem(38);
		}
		@media (max-width: 500px){
			font-size: toRem(34);
		}
		@media (max-height: 460px){
			font-size: toRem(34);
		}
	}
	&__subtitle {
		font-family: $thirdFont;
		font-size: toRem(24);
		font-weight: bold;
		text-align: center;
		line-height: 130%;
		padding-bottom: toRem(10);
		@media (max-width: 1440px){
			padding-bottom: toRem(0);
			font-size: toRem(22);
		}
		@media (max-width: 1100px){
			font-size: toRem(20);
		}
		@media (max-width: 992px){
			font-size: toRem(18);
		}
		@media (max-width:$mobile){
			font-size: toRem(20);
		}
		@media (max-width: 600px){
			font-size: toRem(18);
		}
		@media (max-width: 500px){
			font-size: toRem(16);
		}
		@media (max-height: 460px){
			font-size: toRem(16);
		}
	}
	&__timer {
	}
	&__call-to-action {
	}
	&__play-button {
	}
}

.timer-counter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	&__wrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;
		max-width: toRem(590);
		width: 100%;
		position: relative;
		padding: toRem(15) toRem(40);
		&>*:not(:first-child):not(:last-child) {
			border-right: 2px solid #EBD46C;
		}
		@media (max-width: 1440px){
			padding: 1vw 2.8vw;
		}
		@media (max-width: 992px){
			padding: toRem(10) toRem(20);
		}
		@media (max-width:$mobile){
			padding: toRem(10) toRem(10);
			max-width: toRem(600);
			width: 100%;
		}
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9;
		object-fit: fill;
		height: 100%;
		width: 100%;
	}
	&__section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: toRem(5);
		z-index: 10;
		width: 100%;
		padding: toRem(0) toRem(29) toRem(7) toRem(29);
		@media (max-width: 1440px){
			padding: 0 2vw 0.5vw 2vw;
		}
		@media (max-width: 992px){
			padding: toRem(0) toRem(15) toRem(3) toRem(15);
		}
		@media (max-height: 530px){
			gap: toRem(0);
		}
	}
	&__numbers {
		font-size: toRem(48);
		font-family: $thirdFont;
		font-weight: bold;
		@media (max-width: 1440px){
			font-size: 3.4vw;
		}
		@media (max-width: 992px){
			font-size: toRem(30);
		}
		@media (max-width:$mobile){
			font-size: toRem(26);
		}
		@media (max-height: 530px){
			font-size: toRem(20);
		}
	}
	&__subtitle {
		font-size: toRem(28);
		font-family: $secondFont;
		@media (max-width: 1440px){
			font-size: toRem(24);
		}
		@media (max-width: 992px){
			font-size: toRem(22);
		}
		@media (max-width:$mobile){
			font-size: toRem(18);
		}
		@media (max-height: 530px){
			font-size: toRem(16);
		}
	}
}
.days-section {
}
.hours-section {
}
.minutes-section {
}
.seconds-section {
}

.call-to-action {
	width: 100%;
	display: flex;
	justify-content: center;
	&__wrapper {
		max-width: toRem(590);
		width: 100%;
		position: relative;
		padding: toRem(15) toRem(15);
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: 1600px){
			max-width: 37vw;
		}
		@media (max-width: 1440px){
			padding: 1.05vw 1.05vw;
		};
		@media (max-width: 992px){
			padding: toRem(10) toRem(10);
		}
		@media (max-width:$mobile){
			max-width: toRem(600);
			padding: toRem(5) toRem(5);
		}
		@media (max-height: 530px){
			width: 100%;
			max-width: 100%;
		}
	}
	&__top-egg {
		position: absolute;
		z-index: 9;
		top: toRem(15);
		left: toRem(15);
		@media (max-width: 1300px){
			width: 2.6vw;
			height: 2.6vw;
			top: 1.15vw;
			left: 1.15vw;
		}
		@media (max-width:$mobile){
			width: toRem(23);
			height: toRem(23);
		}
	}
	&__bottom-egg {
		position: absolute;
		z-index: 9;
		bottom: toRem(15);
		right: toRem(15);
		@media (max-width: 1300px){
			width: 2.6vw;
			height: 2.6vw;
			bottom: 1.15vw;
			right: 1.15vw;
		}
		@media (max-width:$mobile){
			width: toRem(23);
			height: toRem(23);
		}
	}
	&__bg {
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: fill;
	}
	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 11;
		font-weight: bold;
		font-family: $thirdFont;
		text-align: center;
		position: relative;
		max-width: toRem(486);
		@media (max-width: 1440px){
			max-width: 33.75vw;
		}
		@media (max-width:	992px){
			max-width: 80%;
		}
	}
	&__top-text {
		font-size: toRem(28);
		line-height: 150%;
		& span {
			background: $goldTextGradient;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			color: transparent;
		}
		@media (max-width: 1440px){
			font-size: 1.95vw;
		}
		@media (max-width: 992px){
			font-size: toRem(20);
			line-height: 120%;
		}
		@media (max-width:$mobile){
			font-size: toRem(16);
		}
		@media (max-height: 530px){
			font-size: toRem(16);
		}
	}
	&__bottom-text {
		line-height: 130%;
		font-size: toRem(40);
		background: $goldTextGradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		color: transparent;
		@media (max-width: 1440px){
			font-size: 2.8vw;
		}
		@media (max-width: 992px){
			font-size: toRem(30);
		}
		@media (max-width:$mobile){
			font-size: toRem(24);
		}
		@media (max-height: 530px){
			font-size: toRem(18);
		}
	}
}

// ---------------------------------------------- Нижній блок
.timer-bottom {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	width: 100%;
	padding-bottom: toRem(15);
	opacity: 0;
	transition: opacity 1s linear;
	@media (max-width: 1440px){
		padding-bottom: 1.05vw;
	}
	@media (max-width: 1200px){
		padding-bottom: 0.2vw;
	}
}
