.reviews {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 100%;
	@media (max-width:$mobile){
		position: relative;
	}
	// ---------------------------------- Фонові елементи
	&__bg-gradient {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $darkRadialBGGradient;
		z-index: -10;
		@media (max-width:$mobile){
			background: $mobileGreenRadialBGGradient;
		}
	}
	&__lines-bg {
		position: absolute;
		bottom: 0;
		left: center;
		opacity: 0.2;
		z-index: -8;
	}
	&__leafs-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__dark-leafs {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -5;
		overflow: hidden;
		&>* {
			position: absolute;
			filter: invert(34%) sepia(67%) saturate(685%) hue-rotate(54deg) brightness(10%) contrast(122%);
			&:nth-child(1) {
				bottom: toRem(-70);
				left: toRem(-190);
				animation: leafsReviewsAnimation 5s infinite;
				@media (max-width: 1920px){
					width: 27.604vw;
					height: 27.083vw;
					bottom: -3.646vw;
					left: -9.896vw;
				}
			}
			&:nth-child(2) {
				right: toRem(0);
				bottom: toRem(-330);
				animation: bigDarkLeafsReviewsAnimation 4s infinite;
				@media (max-width: 1920px){
					width: 42.708vw;
					height: 44.792vw;
					right: 0;
					bottom: -17.188vw;
				}
			}
			&:nth-child(3) {
				top: toRem(-30);
				right: toRem(-150);
				animation: leafsReviewsAnimation 6s infinite;
				@media (max-width: 1920px){
					width: 27.083vw;
					height: 14.583vw;
					top: -1.563vw;
					right: -7.813vw;
				}
			}
		}
	}
	&__top-leafs {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -4;
		overflow: hidden;
		&>* {
			position: absolute;
			&:nth-child(1) {
				right: toRem(-90);
				bottom: toRem(-90);
				animation: leafsReviewsAnimation 6.5s infinite;
				@media (max-width: 1920px){
					width: 15.625vw;
					height: 33.854vw;
					right: -4.688vw;
					bottom: -4.688vw;
				}
			}
			&:nth-child(2) {
				right: toRem(-50);
				bottom: toRem(-350);
				animation: leafsReviewsAnimation 5.5s infinite 1s;
				@media (max-width: 1920px){
					width: 21.875vw;
					height: 29.167vw;
					right: -2.604vw;
					bottom: -18.229vw;
				}
			}
			&:nth-child(3) {
				right: toRem(200);
				bottom: toRem(-200);
				animation: leafsReviewsAnimation 4.7s infinite;
				@media (max-width: 1920px){
					width: 19.792vw;
					height: 17.708vw;
					right: 10.417vw;
					bottom: -10.417vw;
				}
			}
			&:nth-child(4) {
				top: toRem(-230);
				left: toRem(-230);
				animation: leafsReviewsAnimation 5.3s infinite 0.5s;
				@media (max-width: 1920px){
					width: 40.625vw;
					height: 27.604vw;
					top: -11.979vw;
					left: -11.979vw;
				}
			}
		}
	}
	&__container {
		max-width: toRem(1280);
		width: 100%;
	}
	&__content {
	}
	&__bottom-arrow-container {
		position: absolute;
		width: 100%;
		bottom: toRem(20);
		left: 0;
		display: flex;
		justify-content: center;
		@media (max-width: 1500px){
			bottom: toRem(10);
		}
		@media (max-width: 1200px){
			bottom: toRem(5);
		}
	}
}

// ------------------------------------ Контент
.reviews-content {
	max-width: toRem(1280);
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: toRem(15);
	align-items: center;
	padding: toRem(0) toRem(0) toRem(50) toRem(0);
	@media (max-width:$mobile){
		padding: toRem(60) toRem(0);
		gap: toRem(20);
	}
	&__title {
		font-family: $thirdFont;
		font-size: toRem(64);
		line-height: 130%;
		font-weight: bold;
		text-align: center;

		background: $goldTextGradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		@media (max-width: 1440px){
			font-size: toRem(55);
		}
		@media (max-width: 1200px){
			font-size: toRem(50);
		}
		@media (max-width: 992px){
			font-size: toRem(45);
		}
		@media (max-width: 800px){
			font-size: toRem(40);
		}
		@media (max-width: 768px){
			font-size: toRem(37);
		}
		@media (max-width: 600px){
			font-size: toRem(33);
		}
		@media (max-width: 500px){
			font-size: toRem(28);
		}
	}
	&__advantages {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: toRem(20);
		width: 100%;
		@media (max-width: 1200px){
			gap: toRem(15);
		}
		@media (max-width:$mobile){
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			&>* {
				&:nth-child(1) {
					grid-area: 1 / 1 / 2 / 2;
				}
				&:nth-child(2) {
					grid-area: 1 / 2 / 2 / 3;
				}
				&:nth-child(3) {
					grid-area: 2 / 1 / 3 / 2;
				}
				&:nth-child(4) {
					grid-area: 2 / 2 / 3 / 3;
				}
				&:nth-child(5) {
					grid-area: 3 / 1 / 4 / 3;
				}
			}
		}
		@media (max-width: 550px){
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(5, 1fr);
			&>* {
				&:nth-child(1) {
					grid-area: 1 / 1 / 2 / 2;
				}
				&:nth-child(2) {
					grid-area: 2 / 1 / 3 / 2;
				}
				&:nth-child(3) {
					grid-area: 3 / 1 / 4 / 2;
				}
				&:nth-child(4) {
					grid-area: 4 / 1 / 5 / 2;
				}
				&:nth-child(5) {
					grid-area: 5 / 1 / 6 / 2;
				}
			}
		}

	}
	&__advantage {
		display: flex;
		flex-direction: column;
		gap: toRem(10);
		@media (max-width:$mobile){
			align-items: center;
		}
		& img {
			width: toRem(40);
			height: toRem(40);
		}
		& div {
			font-family: $thirdFont;
			font-size: toRem(18);
			font-weight: medium;
			line-height: 130%;
			text-align: left;
			@media (max-width: 1200px){
				font-size: toRem(17);
				line-height: 120%;
			}
			@media (max-width:$mobile){
				text-align: center;
			}
			& span {
				background: $goldTextGradient;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				font-size: toRem(22);
				@media (max-width: 1200px){
					font-size: toRem(20);
					line-height: 120%;
				}
			}
		}
	}
	&__table-and-reviews-container {
		display: flex;
		gap: toRem(100);
		width: 100%;
		justify-content: center;
		align-items: center;
		@media (max-width: 1440px){
			gap: 6.944vw;
		}
		@media (max-width: 1200px){
			gap: 5vw;
		}
		@media (max-width: 1100px){
			gap: 4vw;
		}
		@media (max-width: 992px){
			gap: 3vw;
		}
		@media (max-width:$mobile){
			flex-direction: column;
			margin-top: toRem(-30);
			gap: toRem(40);
		}
		@media (max-width: 550px){
			margin-top: toRem(0);
			gap: toRem(25);
		}
	}
	&__table-container {
	}
	&__reviews-container {
	}
	&__call-to-action {
		font-family: $thirdFont;
		font-size: toRem(24);
		font-weight: medium;
		line-height: 140%;
		text-align: center;
		@media (max-width: 1440px){
			font-size: toRem(22);
			line-height: 130%;
		}
		@media (max-width: 1100px){
			font-size: toRem(20);
		}
		@media (max-width: 992px){
			font-size: toRem(18);
			line-height: 120%;
		}
	}
}

// -------------------------------------- Таблиця
.table-container {
	max-width: toRem(478);
	width: 100%;
	& img {
		width: 100%;
		height: 100%;
	}
}

// -------------------------------------- Відгуки
.reviews-container {
	max-width: toRem(435);
	max-height: toRem(471.48);
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	&__iphone {

	}
	&__reviews-wrapper {
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
		&>* {
			transition: all 0.7s ease 0s;
			transform: translateY(0);
			&:hover {
				cursor: pointer;
			}
			&:nth-child(1) {
				top: 0;
				left: 12.41%;
				animation: reviewAnimation1 5s infinite;
			}
			&:nth-child(2) {
				top: 9.96%;
				left: 7.35%;
				animation: reviewAnimation2 6s infinite;
			}
			&:nth-child(3) {
				top: 6.36%;
				left: 51.95%;
				animation: reviewAnimation3 7s infinite;
			}
			&:nth-child(4) {
				top: 16.75%;
				left: 61.37%;
				animation: reviewAnimation1 5.5s infinite;
			}
			&:nth-child(5) {
				top: 15.48%;
				left: 9.65%;
				animation: reviewAnimation2 4.5s infinite;
			}
			&:nth-child(6) {
				top: 25.51%;
				left: 1.37%;
				animation: reviewAnimation3 6.5s infinite;
			}
			&:nth-child(7) {
				top: 24.39%;
				left: 49.42%;
				animation: reviewAnimation1 7.5s infinite;
			}
			&:nth-child(8) {
				top: 33.08%;
				left: 12.41%;
				animation: reviewAnimation2 3.8s infinite;
			}
			&:nth-child(9) {
				top: 38.17%;
				left: 64.36%;
				animation: reviewAnimation3 5.9s infinite;
			}
			&:nth-child(10) {
				top: 43.90%;
				left: 0;
				animation: reviewAnimation1 7.2s infinite;
			}
			&:nth-child(11) {
				top: 50.26%;
				left: 50.57%;
				animation: reviewAnimation2 8.4s infinite;
			}
			&:nth-child(12) {
				top: 54.08%;
				left: 5.97%;
				animation: reviewAnimation3 3.8s infinite;
			}
			&:nth-child(13) {
				top: 60.23%;
				left: 55.63%;
				animation: reviewAnimation1 5.8s infinite;
			}
			&:nth-child(14) {
				top: 63.62%;
				left: 12.41%;
				animation: reviewAnimation2 6.6s infinite;
			}
			&:nth-child(15) {
				top: 66.28%;
				left: 57.93%;
				animation: reviewAnimation3 7.2s infinite;
			}
			&:nth-child(16) {
				top: 73.59%;
				left: 3.9%;
				animation: reviewAnimation1 6.3s infinite;
			}
			&:nth-child(17) {
				top: 76.99%;
				left: 53.10%;
				animation: reviewAnimation2 4.1s infinite;
			}
			&:nth-child(18) {
				top: 85.52%;
				left: 6.2%;
				animation: reviewAnimation3 5.4s infinite;
			}
			&:nth-child(19) {
				top: 82.08%;
				left: 42.29%;
				animation: reviewAnimation1 4.4s infinite;
			}
		}
	}
	&__review-image {
		position: absolute;
		border-radius: toRem(10);
	}
}
