// Заголовки, загальні БЕМ блоки та інше...

._hidden {
	display: none;
}

// Стрілка прокрутки вниз
.scroll-down-element {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: toRem(160);
	width: 100%;
	height: toRem(77);
	position: relative;
	@media (max-width: 1440px){
		max-width: 11.111vw;
	}
	@media (max-width:$mobile){
		max-width: toRem(100);
		height: toRem(50);
		padding-bottom: toRem(5);
	}

	&__text {
		font-size: toRem(16);
		font-weight: bold;
		color: #FFFFFF;
		@media (max-width: 992px){
			font-size: toRem(14);
		}
	}
	& img {
		position: absolute;
		bottom: 0;
		left: 0;
		animation: scrollButtonAnimation 1.5s infinite;
		@media (max-width: 1440px){
			height: 100%;
			width: 100%;
		}
		@media (max-width:$mobile){
			width: 80%;
			height: 80%;
			position: relative;
		}
	}
}

// Анімація руху кнопки скролу
@keyframes scrollButtonAnimation {
	0% {
		bottom: 0px;
	}
	50% {
		bottom: -7px;
	}
	100% {
		bottom: 0px;
	}
}

// Прозорість темних листків
.dark-leafs-opacity {
	opacity: 0.6;
}