// Заголовки, загальні БЕМ блоки та інше...

._hidden {
	display: none;
}

.content {
	position: relative;
	top: 0;
	left: 0;
	min-height: 100svh;
	height: 100%;
	width: 100%;
	@media (max-width:$mobile){
		display: flex;
		align-items: center;
	}
}

// Стрілка прокрутки вниз
.scroll-down-element {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: toRem(160);
	width: 100%;
	height: toRem(77);
	position: relative;
	@media (max-width: 1440px){
		max-width: 11.111vw;
	}
	@media (max-width:$mobile){
		max-width: toRem(100);
		height: toRem(50);
		padding-bottom: toRem(5);
	}

	&__text {
		font-size: toRem(16);
		font-weight: bold;
		color: #FFFFFF;
		@media (max-width: 992px){
			font-size: toRem(14);
		}
		@media (max-width:$mobile){
			display: none;
		}
	}
	& img {
		position: absolute;
		bottom: 0;
		left: 0;
		animation: scrollButtonAnimation 1.5s infinite;
		@media (max-width: 1440px){
			height: 100%;
			width: 100%;
		}
		@media (max-width:$mobile){
			width: 80%;
			height: 80%;
			position: relative;
		}
	}
}

// Анімація руху кнопки скролу
@keyframes scrollButtonAnimation {
	0% {
		bottom: 0px;
	}
	50% {
		bottom: -7px;
	}
	100% {
		bottom: 0px;
	}
}

// Прозорість темних листків
.dark-leafs-opacity {
	opacity: 0.6;
}

// Хедер на мобільних телефонах
.mobile-header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: toRem(5) toRem(15) toRem(10) toRem(15);
	z-index: 1000;
	background: linear-gradient(180deg, rgba(31, 31, 30, 0.528) 0%, rgba(0,0,0,0) 100%);

	@media (min-width: 768px){
		display: none;
	}
	
	&__logo {
		@media (max-width: 1440px){
			max-width: 15.5vw;
		}
		@media (max-width: 1100px){
			max-width: toRem(170);
		}
		@media (max-width: 992px){
			max-width: toRem(140);
		}
		@media (max-width:$mobile){
			max-width: toRem(110);
		}
		@media (max-width: 600px){
			max-width: toRem(90);
		}
		@media (max-width: 500px){
			max-width: toRem(75);
		}
	}
	&__buttons-block {
		padding: toRem(25) 0 0 0;
		display: flex;
		gap: toRem(10);
		border-radius: 50%;
		@media (max-width:$mobile){
			position: relative;
			align-items: center;
			padding: toRem(0);
		}
		&>* {
			transition: all 0.3s ease 0s;
			border-radius: 50%;
			&:hover {
				transition: all 0.3s ease 0s;
				cursor: pointer;
				box-shadow: 0px 0px 15px 0px rgba(214,230,0,0.75);
				-webkit-box-shadow: 0px 0px 15px 0px rgba(214,230,0,0.75);
				-moz-box-shadow: 0px 0px 15px 0px rgba(214,230,0,0.75);
			}
		}
	}
	&__button {
		position: relative;
		width: toRem(72);
		height: toRem(72);
		@media (max-width: 1440px){
			width: 4.2vw;
			height: 4.2vw;
		}
		@media (max-width: 992px){
			width: toRem(40);
			height: toRem(40);
		}
		@media (max-width:$mobile){
			width: toRem(35);
			height: toRem(35);
		}

		& img {
			width: toRem(72);
			height: toRem(72);
			@media (max-width: 1440px){
				width: 4.2vw;
				height: 4.2vw;
			}
			@media (max-width: 992px){
				width: toRem(40);
				height: toRem(40);
			}
			@media (max-width:$mobile){
				width: toRem(35);
				height: toRem(35);
			}
		}
	}
}

// Адаптація головної кнопки
.main-button {
	width: 100%;
	max-width: toRem(228);
	height: toRem(80);
	position: relative;
	display: flex;
	justify-content: center;
	@media (max-width:$pc){
		max-width: 19.402vw;
	}
	@media (max-width: 1200px){
		max-width: toRem(180);
	}
	@media (max-width: 992px){
		max-width: toRem(160);
	}
	@media (max-width:$mobile){
		max-width: toRem(120);
	}
	&:hover {
		cursor: pointer;
	}
	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: fill;
		max-width: toRem(228);
		@media (max-width:$pc){
			max-width: 19.402vw;
		}
		@media (max-width: 1200px){
			max-width: toRem(180);
		}
		@media (max-width: 992px){
			max-width: toRem(160);
		}
		@media (max-width:$mobile){
			max-width: toRem(120);
		}
	}
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: fill;
		max-width: toRem(228);
		@media (max-width:$pc){
			max-width: 19.402vw;
		}
		@media (max-width: 1200px){
			max-width: toRem(180);
		}
		@media (max-width: 992px){
			max-width: toRem(160);
		}
		@media (max-width:$mobile){
			max-width: toRem(120);
		}
	}
	&__text-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		font-family: $thirdFont;
		font-size: toRem(36);
		font-weight: bold;
		padding-bottom: toRem(3);
		@media (max-width: 1200px){
			font-size: toRem(30);
		}
		@media (max-width: 900px){
			font-size: 3.5vw;
		}
		@media (max-width: 800px){
			font-size: toRem(24);
		}
		@media (max-width:$mobile){
			font-size: toRem(22);
		}
		@media (max-width: 600px){
			font-size: toRem(20);
		}
	}
}
