@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================

@import url(https://fonts.googleapis.com/css?family=Piazzolla:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic); 
@import url(https://fonts.googleapis.com/css?family=Caveat+Brush:regular);
@import url(https://fonts.googleapis.com/css?family=Play:regular,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
// Підключити, якщо є локальні файли шрифтів
// @import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
// @import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "";
$fontSize: toRem(14); // де 14(px) - розмір шрифту за замовчуванням з макету
$secondFont: Caveat Brush, Arial, sans-serif;
$thirdFont: Piazzolla, Arial, sans-serif;

// Основні кольори
$mainColor: #000; // Колір шрифту за замовчуванням

// Золотий градієнт для тексту
$goldTextGradient: linear-gradient(90deg, rgba(165,108,11,1) 0%, rgba(173,120,22,1) 1%, rgba(199,159,58,1) 6%, rgba(220,190,87,1) 10%, rgba(235,212,108,1) 14%, rgba(244,225,120,1) 19%, rgba(248,230,125,1) 22%, rgba(244,224,119,1) 27%, rgba(232,208,104,1) 34%, rgba(214,182,79,1) 41%, rgba(201,163,61,1) 45%, rgba(195,143,27,1) 57%, rgba(230,201,92,1) 75%, rgba(248,230,125,1) 84%, rgba(244,224,119,1) 86%, rgba(233,209,103,1) 90%, rgba(216,185,76,1) 94%);
$radialBackgroundGradient: radial-gradient(circle, rgba(155,196,57,1) 0%, rgba(99,167,31,1) 41%, rgba(0,109,32,1) 73%, rgba(39,47,27,1) 87%);
$darkRadialBGGradient: radial-gradient(circle, rgba(0,109,32,1) 0%, rgba(0,101,31,1) 4%, rgba(0,64,29,1) 30%, rgba(0,36,28,1) 55%, rgba(0,16,27,1) 85%, rgba(0,4,27,1) 98%, rgba(0,0,27,1) 100%);
$mobileGreenRadialBGGradient: radial-gradient(ellipse at center, rgba(0,109,32,1) 0%, rgba(0,101,31,1) 4%, rgb(1, 71, 32) 30%, rgb(1, 48, 20) 55%, rgb(1, 18, 37) 100%);
// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Підключення компонентів tailwind ============================================================================================================================================================================================== =============================================================================================== ===========================================================================
// @import "libs/tailwind";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	// scrollbar-gutter: stable;
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	.loaded & {
	}
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================

// (i) Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";

// Підключення стилів окремих сторінок
@import "index";

// Підключення стилів блоків лендінгу
@import "landing-blocks/loading-timer-block";
@import "landing-blocks/dollars-block";
@import "landing-blocks/jackpot-block";
@import "landing-blocks/reviews-block";
@import "landing-blocks/3d-animation-block";


// Підключення стилів з анімаціями
@import "animations/loading-block";
@import "animations/timer-block";
@import "animations/dollars-block";
@import "animations/jackpot-block";
@import "animations/reviews-block";
@import "animations/3d-animation-block";