// Анімація руху листків
@keyframes leafsJackpotMovingAnimation {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

// Анімація обертання колеса
@keyframes wheelRotateAnimation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(3600deg);
	}
}

// Анімація обертання яєць
// @keyframes eggsRotateAnimation {
// 	0% {
// 		transform: rotate(0deg);

// 	}
// 	100% {
// 		transform: rotate(2160deg);
// 	}
// }

// Анімація розлітання яєць
@keyframes eggsFlyAnimation {
	0% {
		max-width: toRem(480.34);
		max-height: toRem(480.34);
		@media (max-width: 1920px){
			max-width: 25.018vw;
			max-height: 25.018vw;
		}
	}
	100% {
		max-width: toRem(480.34);
		max-height: toRem(480.34);
		@media (max-width: 1920px){
			max-width: 25.018vw;
			max-height: 25.018vw;
		}
	}
}

// ---------- Анімація руху (для кожного яйця окремо)
 // Индекс, на который мы умножаем для изменения дальности разлета при адаптации
// 	$indexFly: 1;

// @keyframes flyEgg1 {
// 	0%{
// 		transform: translateX(0) translateY(0);
// 	}
// 	100%{
// 		transform: translateX(#{60px * $indexFly}) translateY(#{-200px * $indexFly});
// 	}
// }

// @keyframes flyEgg2 {
// 	0%{
// 		transform: translateX(0) translateY(0);
// 	}
// 	100%{
// 		transform: translateX(#{130px * $indexFly}) translateY(#{-80px * $indexFly}) translateZ(300px);
// 	}
// }

// @keyframes flyEgg3 {
// 	0%{
// 		transform: translateX(0) translateY(0);
// 	}
// 	100%{
// 		transform: translateX(#{350px * $indexFly}) translateY(#{-60px * $indexFly});
// 	}
// }

// @keyframes flyEgg4 {
// 	0%{
// 		transform: translateX(0) translateY(0);
// 	}
// 	100%{
// 		transform: translateX(#{160px * $indexFly}) translateY(#{25px * $indexFly}) translateZ(300px);
// 	}
// }

// @keyframes flyEgg5 {
// 	0%{
// 		transform: translateX(0) translateY(0);
// 	}
// 	100%{
// 		transform: translateX(#{190px * $indexFly}) translateY(#{160px * $indexFly});
// 	}
// }

// @keyframes flyEgg6 {
// 	0%{
// 		transform: translateX(0) translateY(0);
// 	}
// 	100%{
// 		transform: translateX(#{25px * $indexFly}) translateY(#{95px * $indexFly}) translateZ(300px);
// 	}
// }

// @keyframes flyEgg7 {
// 	0%{
// 		transform: translateX(0) translateY(0);
// 	}
// 	100%{
// 		transform: translateX(#{-40px * $indexFly}) translateY(#{170px * $indexFly});
// 	}
// }

// @keyframes flyEgg8 {
// 	0%{
// 		transform: translateX(0) translateY(0);
// 	}
// 	100%{
// 		transform: translateX(#{-120px * $indexFly}) translateY(#{110px * $indexFly}) translateZ(300px);
// 	}
// }

// @keyframes flyEgg9 {
// 	0%{
// 		transform: translateX(0) translateY(0);
// 	}
// 	100%{
// 		transform: translateX(#{-280px * $indexFly}) translateY(#{80px * $indexFly});
// 	}
// }

// @keyframes flyEgg10 {
// 	0%{
// 		transform: translateX(0) translateY(0);
// 	}
// 	100%{
// 		transform: translateX(#{-320px * $indexFly}) translateY(#{-70px * $indexFly});
// 	}
// }

// @keyframes flyEgg11 {
// 	0%{
// 		transform: translateX(0) translateY(0);
// 	}
// 	100%{
// 		transform: translateX(#{-130px * $indexFly}) translateY(#{-100px * $indexFly}) translateZ(300px);
// 	}
// }

// @keyframes flyEgg12 {
// 	0%{
// 		transform: translateX(0) translateY(0);
// 	}
// 	100%{
// 		transform: translateX(#{-40px * $indexFly}) translateY(#{-160px * $indexFly});
// 	}
// }

// Поява світіння яйця 
@keyframes shadowEggs {
	0% {
		box-shadow: 0px 5px 63px 10px rgba(0, 255, 34, 0);
		-webkit-box-shadow: 0px 5px 63px 10px rgba(0, 255, 34, 0);
		-moz-box-shadow: 0px 5px 63px 10px rgba(0, 255, 0, 0);
	}
	100% {
		box-shadow: 0px 10px 63px 10px rgb(0, 255, 34);
		-webkit-box-shadow: 0px 10px 63px 10px rgb(0, 255, 34);
		-moz-box-shadow: 0px 10px 63px 10px rgb(0, 255, 0);
	}
}


// Анімація появи об'єктів після lazy-loading
@keyframes showObjectAfterLazyLoading {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// Анімація появи напису "Джекпот"
@keyframes showJackpotText {
	0%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}



// ------------------------------------------------------------------------ Іскри

// Мерехтіння іскри
@keyframes rotateSparkLine1 {
	0%{
		transform: rotate(75deg);
	}
	50%{
		transform: rotate(83deg);
	}
	100%{
		transform: rotate(75deg);
	}
}
@keyframes rotateSparkLine2 {
	0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(-8deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
@keyframes rotateSparkLine3 {
	0%{
		transform: rotate(120deg);
	}
	50%{
		transform: rotate(128deg);
	}
	100%{
		transform: rotate(120deg);
	}
}
@keyframes blinkSparkMove {
	0%{
		width: toRem(20);
		height: toRem(20);
	}
	50%{
		width: toRem(30);
		height: toRem(30);
	}
	100% {
		width: toRem(20);
		height: toRem(20);
	}
}

// Анімація руху іскр
@keyframes moveSpark1 {
	0%{
		top: 30%;
		left: 40%;
		opacity: 1;
	}
	70%{
		top: 15%;
		left: 25%;
		opacity: 0.7;
	}
	100%{
		top: 10%;
		left: 20%;
		opacity: 0;
	}
}

@keyframes moveSpark2 {
	0%{
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	70%{
		top: 17%;
		left: 20%;
		opacity: 0.7;
	}
	100%{
		top: 10%;
		left: 15%;
		opacity: 0;
	}
}

@keyframes moveSpark3 {
	0%{
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	70%{
		top: 40%;
		left: 70%;
		opacity: 0.7;
	}
	100%{
		top: 10%;
		left: 90%;
		opacity: 0;
	}
}

@keyframes moveSpark4 {
	0%{
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	70%{
		top: 70%;
		left: 70%;
		opacity: 0.7;
	}
	100%{
		top: 100%;
		left: 90%;
		opacity: 0;
	}
}

@keyframes moveSpark5 {
	0%{
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	70%{
		top: 70%;
		left: 30%;
		opacity: 0.7;
	}
	100%{
		top: 100%;
		left: 10%;
		opacity: 0;
	}
}

@keyframes moveSpark6 {
	0%{
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	70%{
		top: 70%;
		left: 55%;
		opacity: 0.7;
	}
	100%{
		top: 100%;
		left: 45%;
		opacity: 0;
	}
}

@keyframes moveSpark7 {
	0%{
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	70%{
		top: 30%;
		left: 45%;
		opacity: 0.7;
	}
	100%{
		top: 0%;
		left: 49%;
		opacity: 0;
	}
}

@keyframes moveSpark8 {
	0%{
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	70%{
		top: 55%;
		left: 30%;
		opacity: 0.7;
	}
	100%{
		top: 45%;
		left: 5%;
		opacity: 0;
	}
}

@keyframes moveSpark9 {
	0%{
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	70%{
		top: 30%;
		left: 60%;
		opacity: 0.7;
	}
	100%{
		top: 0%;
		left: 65%;
		opacity: 0;
	}
}

@keyframes moveSpark10 {
	0%{
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	70%{
		top: 70%;
		left: 45%;
		opacity: 0.7;
	}
	100%{
		top: 100%;
		left: 40%;
		opacity: 0;
	}
}

// Анімація маленьких іскр
@keyframes moveShadowSpark1 {
	0%{
		width: toRem(40);
		height: toRem(45);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(35);
		height: toRem(35);
		top: 10%;
		left: 10%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark2 {
	0%{
		width: toRem(30);
		height: toRem(35);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 30%;
		left: 10%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark3 {
	0%{
		width: toRem(35);
		height: toRem(40);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 45%;
		left: 10%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark4 {
	0%{
		width: toRem(40);
		height: toRem(45);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 65%;
		left: 10%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark5 {
	0%{
		width: toRem(35);
		height: toRem(40);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 75%;
		left: 10%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark6 {
	0%{
		width: toRem(30);
		height: toRem(35);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 90%;
		left: 10%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark7 {
	0%{
		width: toRem(35);
		height: toRem(40);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 10%;
		left: 40%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark8 {
	0%{
		width: toRem(30);
		height: toRem(35);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 10%;
		left: 30%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark9 {
	0%{
		width: toRem(45);
		height: toRem(40);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 10%;
		left: 20%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark10 {
	0%{
		width: toRem(40);
		height: toRem(35);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 10%;
		left: 60%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark11 {
	0%{
		width: toRem(45);
		height: toRem(40);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 10%;
		left: 70%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark12 {
	0%{
		width: toRem(35);
		height: toRem(40);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 10%;
		left: 80%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark13 {
	0%{
		width: toRem(35);
		height: toRem(30);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 10%;
		left: 90%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark14 {
	0%{
		width: toRem(35);
		height: toRem(40);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 20%;
		left: 90%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark15 {
	0%{
		width: toRem(40);
		height: toRem(35);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 30%;
		left: 90%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark16 {
	0%{
		width: toRem(45);
		height: toRem(40);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 40%;
		left: 90%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark17 {
	0%{
		width: toRem(35);
		height: toRem(40);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 50%;
		left: 90%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark18 {
	0%{
		width: toRem(35);
		height: toRem(30);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 60%;
		left: 90%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark19 {
	0%{
		width: toRem(45);
		height: toRem(40);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 70%;
		left: 90%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark20 {
	0%{
		width: toRem(35);
		height: toRem(40);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 80%;
		left: 90%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark21 {
	0%{
		width: toRem(35);
		height: toRem(30);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 90%;
		left: 90%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark22 {
	0%{
		width: toRem(35);
		height: toRem(40);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 90%;
		left: 80%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark23 {
	0%{
		width: toRem(45);
		height: toRem(40);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 90%;
		left: 70%;
		opacity: 0;
	}
}

@keyframes moveShadowSpark24 {
	0%{
		width: toRem(35);
		height: toRem(30);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 90%;
		left: 50%;
		opacity: 0;
	}
}
@keyframes moveShadowSpark25 {
	0%{
		width: toRem(40);
		height: toRem(45);
		top: 50%;
		left: 50%;
		opacity: 1;
	}
	100%{
		width: toRem(25);
		height: toRem(25);
		top: 90%;
		left: 40%;
		opacity: 0;
	}
}