// Анимация эллипсов
@keyframes firstEllipseAnimation {
	0% {
		width: 70%;
		height: 70%;
	}
	30% {
		width: 60%;
		height: 60%;
	}
	100% {
		width: 70%;
		height: 70%;
	}
}

@keyframes secondEllipseAnimation {
	0% {
		width: 90%;
		height: 90%;
	}
	30% {
		width: 90%;
		height: 90%;
	}
	60% {
		width: 50%;
		height: 50%;
	}
	100% {
		width: 90%;
		height: 90%;
	}
}

@keyframes thirdEllipseAnimation {
	0% {
		width: 60%;
		height: 60%;
	}
	30% {
		width: 90%;
		height: 90%;
	}
	60% {
		width: 50%;
		height: 50%;
	}
	100% {
		width: 60%;
		height: 60%;
	}
}

@keyframes fourEllipseAnimation {
	0% {
		width: 60%;
		height: 60%;
	}
	30% {
		width: 90%;
		height: 90%;
	}
	100% {
		width: 60%;
		height: 60%;
	}
}

// Анимация полосы загрузки
@keyframes loadingLineAnimation {
	0% {
		width: 10%;
	}
	100% {
		width: 100%;
	}
}

// Анимация исчезания блока загрузки
@keyframes loadingLineHiddenAnimation {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

// Анимация появления кнопки
@keyframes startButtonShowAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// Анімація зникненян чорного фону
@keyframes blackBgHiddenAnimation {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.35;
	}
}