// Анімація появи елементів таймеру
@keyframes showTimerElements {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// Анімація появи логотипу
@keyframes showSmallLogoOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// Анімація появи листків
@keyframes showFirstLeaf {
	0% {
		bottom: toRem(-250);
		left: toRem(-500);
	}
	100% {
		bottom: toRem(-110);
		left: toRem(-50);
	}
}

@keyframes showSecondLeaf {
	0% {
		bottom: toRem(-600);
		left: toRem(-1000);
	}
	100% {
		bottom: toRem(-335);
		left: toRem(-290);
	}
}

@keyframes showThirdLeaf {
	0% {
		bottom: toRem(-500);
		right: toRem(-550);
	}
	100% {
		bottom: toRem(-50);
		right: toRem(-150);
	}
}

// Анімація руху листків
@keyframes firstLeafAnimation {
	0% {
		transform: rotate(0deg);
	}
	40% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes secondLeafAnimation {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes thirdLeafAnimation {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

// Анімація гобліна
@keyframes goblinAnimation {
	0% {
		bottom: toRem(-200);
		left: toRem(-1000);
		transform: rotate(-30deg);
	}
	100% {
		bottom: toRem(-100);
		left: toRem(-210);
		transform: rotate(30deg);
	}
}